<h1>Filters</h1>

<p>...................................................Array......................................................</p>
<p>...................................................concat......................................................</p>
{% assign name = 'Ritik, Akku, Ral, Mahi, Saleha' | split: ", " %}
{% assign age = '23, 17, 29, 24, 26' | split: ", " %}

{% assign result = name | concat: age %}

{% for item in result %}
    <li>{{ item }}</li>
{% endfor %}
<p>...................................................first & Last......................................................</p>
{% assign first_product = collection.products | first %}
{% assign last_product = collection.products | last %}
{{ first_product.title }} <br>
{{ last_product.title }}
<p>...................................................join......................................................</p>
{% assign names = 'Ritik, Akku, Ral, Mahi, Saleha' | split: ", " %}
{{ names }} <br>
{{ names | join: ", " }}
<p>.....................................................map..........................................................</p>
{% assign product_name = collection.products | map: 'title' %}
{{ product_name | join: ", " }}
<p>...................................................reverse......................................................</p>
<h4>Original</h4>
{{ collection.products | map: 'title' | join: ", " }}

<h4>Reverse</h4>
{{ collection.products | reverse | map: 'title' | join: ", " }}
<p>...................................................size......................................................</p>
{{ collection.products | size }}
<p>...................................................sort and natural......................................................</p>
<h5>sort</h5>
{% assign position = collection.products | sort: 'price' %}
{% for product in position %}
    {{ product.title }}
{% endfor %}
<h5>sort natural</h5>
{% assign positions = collection.products | sort_natural: 'title' %} 
{% for product in positions %}
    {{ product.title }}
{% endfor %}
<p>......................................................uniq...................................................</p>
{% assign meows = "ral, ral, mahi, mahi, ritik, saleha, manu, manu" | split: ", " %}
{{ meows | uniq | join: ", " }}
<p>......................................................where...................................................</p>
{% assign available_products = collection.products | where: 'vendor', "Ganesh-liquid" %}
Available Products:- 
{% for product in available_products %}
    - {{ product.title }}
{% endfor %}
<p>.....................................................Cart.................................................................</p>
{{ cart | item_count_for_variant: 8384485589268 }}
<p></p>
<p>.....................................................Collection.................................................................</p>
<p>.....................................................highlight_active_tag.................................................................</p>
{% for tag in collection.all_tags %}
      {{ tag | highlight_active_tag | link_to_tag: tag }}    
{% endfor %}
<p>.....................................................link_to_type.................................................................</p>
{{  'Oversized' | link_to_type }}
<p>.....................................................link_to_vendor.................................................................</p>
{{ "Ganesh-liquid" | link_to_vendor }}
<p>.....................................................sort_by.................................................................</p>
{{ collection.url | sort_by: 'title-ascending' }}
<p>.....................................................url_for_type.................................................................</p>
{{ 'Oversized' | url_for_type }}
<p>.....................................................url_for_vendor.................................................................</p>
{{ "Ganesh-liquid" | url_for_vendor }}
<p>..........................................................within.................................................................</p>
{% assign collection_product = collection.products.last %}
{{ collection_product.url | within: collection }}
<p>.............................................................Customer..........................................................................</p>
<p>.............................................................log_in....................................................................................</p>
{{ 'Log in' | customer_login_link }}
<p>.............................................................log_off.....................................................................................</p>
{{ 'Log off' | customer_logout_link }}
<p>.............................................................register............................................................................</p>
{{ 'Register' | customer_register_link}}
<p>.............................................................login_button................................................................................</p>
{{ shop | login_button: action: 'follow' }}
<p>.............................................................default....................................................................................................</p>
{{ product.selected_variant.url | default: product.url }}

{%- assign display_price = false -%}
{{ display_price | default: true, allow_false: true }}
<p>...........................................................default_pagination...................................................................................</p>
{% paginate collection.products by 2 %}
    {% for product in collection.products %}
        {{ product.title }}
    {% endfor %}

    {{ paginate | default_pagination }}
{% endpaginate %}
<p>............................................................Format.......................................................................</p>
<p>............................................................date......................................................................................</p>
1- {{ article.created_at | date: '%B %d, %Y' }}
2- {{ 'now' | date: '%B %d, %Y' }}
3- {{ article.created_at | date: format: 'date_at_time' }}
<p>............................................................json........................................................................</p>
{{ product | json }}







{% schema %}
  {
    "name": "Filters Liquid",
    "settings": [
      {
        "type": "text",
        "id": "filters-liq",
        "label": "Add Your Text"
      }
    ],
    "presets": [
      {
        "name": "Filters Liquid",
        "category": "Reference"
      }
    ]
  }
{% endschema %}