<h1>Filters</h1>

<p>...................................................Array......................................................</p>
<p>...................................................concat......................................................</p>
{% assign name = 'Ritik, Akku, Ral, Mahi, Saleha' | split: ", " %}
{% assign age = '23, 17, 29, 24, 26' | split: ", " %}

{% assign result = name | concat: age %}

{% for item in result %}
    <li>{{ item }}</li>
{% endfor %}
<p>...................................................first & Last......................................................</p>
{% assign first_product = collection.products | first %}
{% assign last_product = collection.products | last %}
{{ first_product.title }} <br>
{{ last_product.title }}
<p>...................................................join......................................................</p>
{% assign names = 'Ritik, Akku, Ral, Mahi, Saleha' | split: ", " %}
{{ names }} <br>
{{ names | join: ", " }}
<p>.....................................................map..........................................................</p>
{% assign product_name = collection.products | map: 'title' %}
{{ product_name | join: ", " }}
<p>...................................................reverse......................................................</p>
<h4>Original</h4>
{{ collection.products | map: 'title' | join: ", " }}

<h4>Reverse</h4>
{{ collection.products | reverse | map: 'title' | join: ", " }}
<p>...................................................size......................................................</p>
{{ collection.products | size }}
<p>...................................................sort and natural......................................................</p>
<h5>sort</h5>
{% assign position = collection.products | sort: 'price' %}
{% for product in position %}
    {{ product.title }}
{% endfor %}
<h5>sort natural</h5>
{% assign positions = collection.products | sort_natural: 'title' %} 
{% for product in positions %}
    {{ product.title }}
{% endfor %}
<p>......................................................uniq...................................................</p>
{% assign meows = "ral, ral, mahi, mahi, ritik, saleha, manu, manu" | split: ", " %}
{{ meows | uniq | join: ", " }}
<p>......................................................where...................................................</p>
{% assign available_products = collection.products | where: 'collection', "Private" %}
Available Products:- 
{% for product in available_products %}
    - {{ product.title }}
{% endfor %}








{% schema %}
  {
    "name": "Filters Liquid",
    "settings": [
      {
        "type": "text",
        "id": "filters-liq",
        "label": "Add Your Text"
      }
    ],
    "presets": [
      {
        "name": "Filters Liquid",
        "category": "Reference"
      }
    ]
  }
{% endschema %}