<h1>Filters</h1>

<p>...................................................Array......................................................</p>
<p>...................................................concat......................................................</p>
{% assign name = 'Ritik, Akku, Ral, Mahi, Saleha' | split: ", " %}
{% assign age = '23, 17, 29, 24, 26' | split: ", " %}

{% assign result = name | concat: age %}

{% for item in result %}
    <li>{{ item }}</li>
{% endfor %}
<p>...................................................first & Last......................................................</p>
{% assign first_product = collection.products | first %}
{% assign last_product = collection.products | last %}
{{ first_product.title }} <br>
{{ last_product.title }}
<p>...................................................join......................................................</p>
{% assign names = 'Ritik, Akku, Ral, Mahi, Saleha' | split: ", " %}
{{ names }} <br>
{{ names | join: ", " }}
<p>...................................................map......................................................</p>
{% assign product_name = collection.products | map: 'title' %}
{{ product_name | join: ", " }}
 

{% schema %}
  {
    "name": "Filters Liquid",
    "settings": [
      {
        "type": "text",
        "id": "filters-liq",
        "label": "Add Your Text"
      }
    ],
    "presets": [
      {
        "name": "Filters Liquid",
        "category": "Reference"
      }
    ]
  }
{% endschema %}