<h1>Iteration Tags</h1>

{% for product in collection.products %}
   <h1>{{ product.title }}</h1>
{% else %}
  No products!
{% endfor %}
<p>...................................................................</p>
{% for i in (1..10) %}
   {{ i }}    
{% endfor %}
<p>...................................................................</p>
{% for i in (1..10) %}
    {% if i == 5 %}
    {% break %}
    {% else %}
    {{ i }}
    {% endif %}    
 {% endfor %}
 <p>..................................................................</p>
 {% for i in (1..10) %}
    {% if i == 5 %}
    {% continue %}
    {% else %}
    {{ i }}      
    {% endif %}  
 {% endfor %}
 <p>..................................................................</p>
 {% assign sp = 1 %}
 {% assign bp = 10 %}
{% for i in (sp..bp) %}
    {{ i }}
{% endfor %}
<p>...................................................................</p>
{% for i in (sp..bp) reversed %}
    {{ i }}
{% endfor %}
<p>........................Iteration 1................................</p>
{% for i in (1..10) %}
    {% cycle 'one', 'two', 'three' %}
{% endfor %}
<p>........................Iteration 2................................</p>
{% for i in (1..10) %}
    {% cycle 'one', 'two', 'three' %}
{% endfor %}
<p>........................Iteration 3................................</p>
{% for i in (1..10) %}
    {% cycle 'Group-1': 'one', 'two', 'three' %}
{% endfor %}
<p>........................Iteration 4................................</p>
{% for i in (1..10) %}
    {% cycle 'Group-2': 'one', 'two', 'three' %}
{% endfor %}
<p>...................................................................</p>
<table>
    {% tablerow product in collection.products  %}
        {{ product.title }}
    {% endtablerow %}
</table>
<p>...................................................................</p>
<table>
    {% tablerow product in collection.products cols: 4 %}
        {{ product.title }}
    {% endtablerow %}
</table>
<p>...................................................................</p>
<table>
    {% tablerow product in collection.products limit: 4 %}
        {{ product.title }}
    {% endtablerow %}
</table>
<p>...................................................................</p>
<table>
    {% tablerow product in collection.products offset: 4 %}
        {{ product.title }}
    {% endtablerow %}
</table>
<p>...................................................................</p>
<table>
    {% tablerow i in (1..10) %}
        {{ i }}
    {% endtablerow %}
</table>    
    {% assign lower_limit = 1 %}
    {% assign upper_limit = 10 %}
<table> 
    {% tablerow i in (lower_limit..upper_limit) %}
        {{ i }}
    {% endtablerow %}
</table>
<p>...................................................................</p>
{% paginate collection.products by 3 %}
    {% for product in collection.products %}
        {{ product.title }}
    {% endfor %}
{% endpaginate %}
<p>...................................................................</p>
{% paginate collection.products by 3, window_size: '1' %}
    {% for product in collection.products %}
        {{ product.title }}
    {% endfor %}
{% endpaginate %}

<h1>Syntax Tags</h1>
<p>............................comment................................</p>
{% comment %}
    HEY There
{% endcomment %}
<p>........................Inline comment.............................</p>
{% # Hey %}
<p>................Inline comment inside liquid tag...................</p>
{% liquid
    # this is a comment
    assign topic = 'Learning Tags!' 
    echo topic
%}
<p>................................Echo...............................</p>
{% echo product.title %}
{% liquid
    echo product.price | money_with_currency
%}
<p>...............................Liquid..............................</p>
{% liquid
    assign product_type = product.type | downcase
    assign message = ''
   
    case product_type
    when 'clothing'
     assign message = 'This is recommended!'
    else
     assign message = 'must buy'     
    endcase
    echo message
%}
<p>.................................Raw...............................</p>
{% raw %}
    {{ product.title }}
{% endraw %}
{% liquid
   echo product.title
%}
<h1>Theme Tags</h1>
{% javascript %}
    // the hello world program
   alert("Hello, World!");
{% endjavascript %}
<p>...........................Layout..................................</p>
{% layout none %}
<p>...........................render..................................</p>
{% render 'icon-instagram' %}
<p>...........................section.................................</p>
{% section 'liquid-object' %}
<p>.........................stylesheet................................</p>
{% stylesheet %}
    body{
        background-color: red;
    }
{% endstylesheet %}


{% schema %}
  {
    "name": "Iteration liquid",
    "settings": [
      {
        "id": "iterat-liq",
        "type": "text",
        "label": "Add Your Text"
      }
    ],
    "presets": [
      {
        "name": "Iteration liquid",
        "category": "Reference"
      }
    ]
  }
{% endschema %}