<!-- Get Page Title -->
<h1>
    {{ page.title }}
</h1>
<!-- Page Description -->
<p> 
    {{ page.author }}
      {{ page.id }}
      {{ page.handle }}
      {{ page.published_at }}
      {{ page.url }}
      {{ page.metafields }}
    {{ page.content }}
</p>

{% schema %}
  {
    "name": "Liquid Objects",
    "settings": [
      {
        "id": "liq-obj",
        "type": "text",
        "label": "Add your text"
      }
    ],
    "presets": [
      {
        "name": "Liquid Objects",
        "category": "Reference"
      }
    ]
  }
{% endschema %}