<!-- Get Page Title -->
<h1>
    {{ page.title }}
</h1>
<!-- Page Description -->
<p> 
      The Page author is {{ page.author}} and the page id is {{ page.id }}. This page was published on {{ page.published_at }} <br>
      Here is the handle of this page {{ page.handle }} . The metafields {{ page.metafields }}. <a href="#">{{ page.url }}</a> <br>
      <h1>Here is the content
        <p>{{ page.content }}</p>
        <p style="color: red;">{{ page_description }}</p>
      </h1>
</p>
<h1>{{ all_products[ 'funky-tshirt' ].title }} handle = {{ handle }} </h1> 

<h1>{{ canonical_url }}</h1>

{% for collection in collections %}

  {{ collection.title }}
  
{% endfor %}

{{ request.page_type }}

<!-- Product Objects -->

<h1>Product.Available</h1>
{{ product.available }}
<br/>

<h1>Product.Collection</h1>
{% for collection in product.collections %}
      {{ collection.title }}
{% endfor %}  

<h1>product.compare_at_price</h1>
{{ product.compare_at_price }}

<h1>product.compare_at_price_varies</h1>
{{ product.compare_at_price_varies }}

<h1>product.content</h1>
{{ product.content }}

<h1>product.created</h1>
{{ product.created_at | date: "%M", "%Y" }}

{% schema %}
  {
    "name": "Liquid Objects",
    "settings": [
      {
        "id": "liq-obj",
        "type": "text",
        "label": "Add your text"
      }
    ],
    "presets": [
      {
        "name": "Liquid Objects",
        "category": "Reference"
      }
    ]
  }
{% endschema %}