<!-- <h1>Page Title</h1>
<h1>
    {{ page.title }}
</h>
 <h1>Page Description</h1>
<p> 
      The Page author is {{ page.author}} and the page id is {{ page.id }}. This page was published on {{ page.published_at }} <br>
      Here is the handle of this page {{ page.handle }} . The metafields {{ page.metafields }}. <a href="#">{{ page.url }}</a> <br>
      <h1>Here is the content
        <p>{{ page.content }}</p>
        <p style="color: red;">{{ page_description }}</p>
      </h1>
</p>
<h1>{{ all_products[ 'funky-tshirt' ].title }} handle = {{ handle }} </h1> 

<h1>{{ canonical_url }}</h1>

{% for collection in collections %}

  {{ collection.title }}
  
{% endfor %}

{{ request.page_type }}

 <h1>Product Object</h1>

<h1>Product.Available</h1>
{{ product.available }}
<br/>

<h1>Product.Collection</h1>
{% for collection in product.collections %}
      {{ collection.title }}
{% endfor %}  

<h1>product.compare_at_price</h1>
{{ product.compare_at_price }}

<h1>product.compare_at_price_varies</h1>
{{ product.compare_at_price_varies }}

<h1>product.content</h1>
{{ product.content }}

<h1>product.created</h1>
{{ product.created_at | date: "%b %d, %Y" }}

<h1>product.featured_image</h1>
<img src="{{ product.featured_image | image_url }}" alt="">

<h1>product.variants</h1>
 <ul> 
  {% for variant in product.variants %}
     <li><b>{{ variant.title }}</b></li>
     <img src="{{ variant.image.src | image_url: width: 200 }}" alt="">
     <a class="product-form__submit button button--full-width button--secondary" href="https://{{ shop.domain }}/cart/add?id={{ variant.id }}&quantity=1"> ADD To Cart</a>
  <ul>
   {% for option in variant.options %}
     <li>{{ option }}</li>
   {% endfor %}
  </ul>
  {% endfor %}
</ul>

<h1>product.selected_variant</h1>
{{ product.selected_variant.url }}

<h1>variant.selected</h1>
{{ variant.selected }}

<h1>Add to cart Button</h1>
<a class="product-form__submit button button--full-width button--secondary" href="https://{{ shop.domain }}/cart/add?id={{ product.selected_variant.id }}&quantity=1"> ADD To Cart</a>
-->

<h1>Cart Object</h1>
<ul>
  <li>cart.attribute</li>
  <p class="cart-attribute__field">
  <label for="your-name">Your name</label> <br>
  <input id="your-name" type="text" name="attributes[Your name]" value="{{ cart.attributes["Your name"] }}">
  </p>
  <li>cart.cart_level_discount_applications</li>
  <li>{{ cart.cart_level_discount_applications }}</li>
  <li>cart.currency</li>
  <li>{{ cart.currency.symbol }}</li>
  <li>cart.discount_applications</li>
  <li>{{ cart.discount_applications }}</li>
  <li>cart.item_count</li>
  <li>{{ cart.item_count }}</li>
  <li>cart.items</li>
  <li>{{ cart.items }}</li>
  <li>cart.items_subtotal_price</li>
  <li>{{cart.items_subtotal_price}}</li>
  <li>cart.note</li>
  <li>{{ cart.note }}</li>
  <li>cart.original_total_price</li>
  <li>{{ cart.original_total_price }}</li>
  <li>cart.taxes_included</li>
  <li>{{ cart.taxes_included }}</li>
  <li>cart.total_discount</li>
  <li>{{ cart.total_discount }}</li>
  <li>cart.total_price</li>
  <li>{{ cart.total_price }}</li>
  <li>cart.total_weight</li>
  <li>{{ cart.total_weight }}</li>
</ul>

{% for product in collection.products %}

    <h1>{{ product.title }}</h1>

{% endfor %}
<!-- if cart item_count < 5 then show how many proudcts needed -->

{% if cart.item_count < 5 %}
        {% assign needed_for_discount = 5 | minus: cart.item_count %}
        <div class="alert page-width">
            ADD {{ needed_for_discount }} MORE PRODUCTS TO GET 20% OFF
        </div>
{% endif %}     

{% schema %}
  {
    "name": "Liquid Objects",
    "settings": [
      {
        "id": "liq-obj",
        "type": "text",
        "label": "Add your text"
      }
    ],
    "presets": [
      {
        "name": "Liquid Objects",
        "category": "Reference"
      }
    ]
  }
{% endschema %}